body {
    font-family: Arial, sans-serif;
    background-color: #71b6f3;
    margin: 0;
    padding: 0;
}


header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

form {
    background: rgb(92, 235, 245);
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 2px solid #007bff;
    padding: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 150px;
    font-weight: bold;
}

.form-row input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #71b6f3;
}
 
.form-row select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row textarea {
    resize: none;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row input[type="radio"] {
    margin-left: 10px;
}

.form-row input[type="checkbox"] {
    margin-left: 10px;
}


@media only screen and (max-width: 600px) {
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-row label {
        width: 100%;
        margin-bottom: 5px;
    }

    button {
        font-size: 18px;
        padding: 12px;
        width: 100%;
    }
}
