body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aquamarine;
    line-height: 100%;
    width: 100%;
    
}
#wrapper {
    background-color: rgb(138, 87, 87);
    width: 500px;
    margin: 0 auto;
    border: thin solid black;
    border-radius: 5%;
    padding: 10px;
}
nav a {
    display: block;
    padding:  5px 10px;
    background-color:rgb(6, 185, 6);
    color: white;
    text-decoration: none;
    margin-right: 50px;
    float: left;
}
nav a:hover {
    color: red;
    background-color: white;
    text-decoration: underline;
}
.clear {
    clear: both;
}
.floating {
    float: right;
    margin-left: 10px;
    width: auto;
}
img{
    width: 200;
    height: auto;
    border: thin solid black;
    box-shadow: 5px 10px 10px rgba(30, 30, 30, 1);
    font-size: 20pt;
    position: relative;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5%;
    display: block;
}
main {
    display: flex;
    flex-direction: column;

}
.goat1 {
    margin-right: 20px;
    float: right;
    width: 40%;
    margin-left: 10px;
    text-align: center;
}
header {
    
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 30px;
}
header h1 {
    margin-bottom: 0;
    border: 3px solid red;
}