body {
    font-family: 'Times New Roman', Times, serif;
}

.Schedule {
    border: 3px solid black;
    box-shadow: 5px 5px 5px rgba(30,30,30,0.5);
    caption-side: bottom;
    border-spacing: 0px;
    border-collapse: collapse;
}

.Schedule th, .Schedule td {
    border: thin solid black;
    /*background-color: rgba(0, 255, 140, 0.587);*/
    padding: 10px;
}

.Schedule thead tr{
    background-color: rgb(18, 18, 198);
    color: white;
}

.Schedule tfoot tr{
    background-color: rgb(14, 36, 202);
    color: white;
}

.caption {
    color:blue;
}

.Schedule tbody tr:nth-child(even) {
    background-color: rgb(43, 226, 125);
}